body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,rgb(9, 231, 247),white);
}

h1 {
    color: #333;
}

#Game Board {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;  
}

table {
    border-collapse: collapse;
    border-spacing: 10px;
    margin: 20px 0; 
    box-shadow: 9px 9px 18px #888;
    background:linear-gradient(to left,rgb(142, 249, 246),white);
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #333;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(164, 247, 219);
    box-shadow:8px 8px 16px #888;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
